<%= form_for @photopost do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
		<div class="field">
			<%= f.label :photo, "Upload a photo.." %>
			<%= f.file_field :photo  %>
		</div>
		<%= f.submit "Upload", class: "btn btn-primary" %>
<% end %>